{% assign footerlogoSize = '35px' %}

<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper-footer">
    <h2 class="footer-heading" style="color:rgb(90, 0, 33)">Contact Info & Socials</h2>
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">Oceana Robotics Team</li><li><a class="u-email" href="mailto:oceana.robots@gmail.com">oceana.robots@gmail.com</a></li>
        </ul>
        <a href="{{ '/' | relative_url }}" class="site-avatar">
          <img src="{{ site.baseurl }}/assets/images/HHSPirates.png" alt="Header Image" style="max-width: {{ footerlogoSize }}; max-height: {{ footerlogoSize }};">
          <!-- &nbsp;&nbsp;&nbsp; -->
          <img src="{{ site.baseurl }}/assets/images/SHSTiger.png" alt="Header Image" style="max-width: {{ footerlogoSize }}; max-height: {{ footerlogoSize }};">
          <!-- &nbsp;&nbsp;&nbsp; -->
          <img src="{{ site.baseurl }}/assets/images/WHSWildcats.png" alt="Header Image" style="max-width: {{ footerlogoSize }}; max-height: {{ footerlogoSize }};">
          <!-- &nbsp;&nbsp;&nbsp; -->
          <img src="{{ site.baseurl }}/assets/images/PHSFalcon.png" alt="Header Image" style="max-width:{{ footerlogoSize }}; max-height: {{ footerlogoSize }};">
        </a>
      </div>
      
      <div class="centered-footer-col2">
        <div class="footer-col footer-col-2"><ul class="social-media-list"><li><a href="https://github.com/OceanaRobotics"><svg class="svg-icon"><use xlink:href="/OceanaFRC/assets/minima-social-icons.svg#github"></use></svg> <span class="username">OceanaRobotics</span></a></li><li><a href="https://instagram.com/shelbyhschool"><svg class="svg-icon"><use xlink:href="/OceanaFRC/assets/minima-social-icons.svg#instagram"></use></svg> <span class="username">shelbyhschool</span></a></li><li><a href="https://www.twitter.com/hartpirateposse"><svg class="svg-icon"><use xlink:href="/OceanaFRC/assets/minima-social-icons.svg#twitter"></use></svg> <span class="username">hartpirateposse</span></a></li></ul>
        </div>
      </div>

      <div class="footer-col footer-col-3">
        <p>Welcome to the Oceana County Robotics blog. Tap on a blog! Be creative, expand your mind. Learn how to build this site and more!</p>
      </div>
  </div>
</footer>
