// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)

//@import "layout"; // Import the necessary variables

// .site-header {
//   position: fixed; /* Fix the header position */
//   width: 100%; /* Occupy the full width */
//   top: 0; /* Stick to the top of the viewport */
//   left: 0; /* Stick to the left of the viewport */
//   z-index: 1000; /* Make sure the header is above other content */
// }

.page-content {
  margin-top: 40px; /* Add margin to create space between header and main content */
}

.game-container {
  display: flex;
  flex-direction: column;
  justify-content: sp;
  align-items: space;
  height: 10vh; /* Adjust as needed */
}

.iframe {
  max-width: 90%; //was 90%
  max-height: 100%;
  
  @media  screen and (min-width: 552px) {
    max-width: 552px;
    display: flex;
  }
}


.centered {
  text-align: center;
  margin: 0 auto;
  margin-top: 0px;
  max-height: fit-content;
  max-width: 552px;
}

.embed-container {
  max-width: 600px;
  max-height: 550px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.iframe-container {
  max-width: 650px;
  max-height: 650px;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: 100px; */
}

.game-iframe {
  border: none;
  width: 100%;
}

.small-text {
  font-size: 12px;
  color: blue;
  font-weight: bold;
}

.large-text {
  font-size: 18px;
  color: green;
  max-width: 90%;
}

.album-list {
  display: flex;
  justify-content: space-between;
}

.album-item {
  display: flex; /* Change to flex for vertical alignment */
  flex-direction: column; /* Stack content vertically */
  align-items: center; /* Center content horizontally */
  text-align: center;
  margin: 10px;
  -webkit-tap-highlight-color: transparent; /* For WebKit browsers (e.g., Safari, Chrome) */
  tap-highlight-color: transparent; /* For other browsers */
}

.thumbnail-link {
  display: block;
  max-width: 200px;
  margin: 0 auto;
  overflow: hidden;
}

.thumbnail-link img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.album-label {
  display: block;
  margin-top: 5px;
  font-weight: bold;
}

///////////////// FAQ styles
.faq-container {
  padding: 10px;
  //margin: 20px 0;
}

.faq-item {
  margin-bottom: 50px;
}

.question {
  cursor: pointer;
  font-weight: bold;
  font-size: 36px;
  position: relative; /* Add this */
  -webkit-tap-highlight-color: transparent; /* For WebKit browsers (e.g., Safari, Chrome) */
  tap-highlight-color: transparent; /* For other browsers */
}

.question::before {
  content: "+";
  position: absolute;
  left: -20px;
  font-weight: bold;
  transition: transform 1s;
}

.answer {
  display: none;
  margin-top: 10px;
}

.show {
  display: block;
  background-color: #a1a1a188;
  border-radius: 10px;
  padding: 10px;
}

.question.clicked {
  background-color: rgba(0, 13, 255, 0.253);
  border-radius: 10px;
}

.question.clicked::before {
  color: rgb(0, 13, 255);
  content: "-"; /* Change the content to a minus sign */
  transform: rotate(180deg); /* Rotate the minus sign */
}
// end FAQ styles

// start 'about.md' COACH styling
.coach-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.coach-image {
  max-width: 150px;
  height: 100px;
  border-radius: 50%;
  margin: 0 auto;
  -webkit-tap-highlight-color: transparent; /* For WebKit browsers (e.g., Safari, Chrome) */
  tap-highlight-color: transparent; /* For other browsers */
}

@media (hover: hover) {
  .coach-image {
    cursor: pointer;
  }
}

.coach-name {
  font-weight: bold;
  margin-top: 0 auto; /* Adjusted margin to 0px */
}

.coach-content {
  display: none;
  text-align: left;
  padding: 5px;
  background-color: #f4f4f4;
  border-radius: 10px;
  margin-top: 10px;
  width: 100%;
}

.coach-content.visible {
  display: block;
}
// end 'about.md' COACH styling
