// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)

//@import "layout"; // Import the necessary variables

.site-header {
  position: fixed; /* Fix the header position */
  width: 100%; /* Occupy the full width */
  top: 0; /* Stick to the top of the viewport */
  left: 0; /* Stick to the left of the viewport */
  z-index: 1000; /* Make sure the header is above other content */
}

.page-content {
  margin-top: 40px; /* Add margin to create space between header and main content */
}

.game-container {
  display: flex;
  flex-direction: column;
  justify-content: sp;
  align-items: space;
  height: 10vh; /* Adjust as needed */
}

.iframe {
  max-width: 90%; //was 90%
  max-height: 100%;
  
  @media  screen and (min-width: 552px) {
    max-width: 552px;
    display: flex;
  }
}


.centered {
  text-align: center;
  margin: 0 auto;
  margin-top: 0px;
  max-height: fit-content;
  max-width: 552px;
}

.embed-container {
  max-width: 600px;
  max-height: 550px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.iframe-container {
  max-width: 650px;
  max-height: 650px;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: 100px; */
}

.game-iframe {
  border: none;
  width: 100%;
}

.small-text {
  font-size: 12px;
  color: blue;
  font-weight: bold;
}

.large-text {
  font-size: 18px;
  color: green;
  max-width: 90%;
}

