// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)

.site-header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000; /* Adjust as needed */
    background-color: #fff; /* Add background color if needed */
    /* Add any other styles you want for the frozen header */
}

.page-content {
    margin-top: 40px; /* Add margin to create space between header and main content */
}